/*

    Name:       Geikha Dark
    Author:     Geikha

*/

.cm-s-geikha.CodeMirror { background: #000000; color: #dddddd; }
.cm-s-geikha div.CodeMirror-selected { background: #442a2a; }
.cm-s-geikha .CodeMirror-line::selection, .cm-s-geikha .CodeMirror-line > span::selection, .cm-s-geikha .CodeMirror-line > span > span::selection { background: #442a2a; }
.cm-s-geikha .CodeMirror-line::-moz-selection, .cm-s-geikha .CodeMirror-line > span::-moz-selection, .cm-s-geikha .CodeMirror-line > span > span::-moz-selection { background: #442a2a; }
.cm-s-geikha .CodeMirror-gutters { background: #222222; border-right: 0px; }
.cm-s-geikha .CodeMirror-guttermarker { color: #ef6155; }
.cm-s-geikha .CodeMirror-guttermarker-subtle { color: #999999; }
.cm-s-geikha .CodeMirror-linenumber { color: #999999; }
.cm-s-geikha .CodeMirror-cursor { border-left: 1px solid #8d8687; }

.cm-s-geikha span.cm-comment { color: #798585; }
.cm-s-geikha span.cm-atom { color: #bbff00; }
.cm-s-geikha span.cm-number { color: #bbff00; }

.cm-s-geikha span.cm-property, .cm-s-geikha span.cm-attribute { color: #e21212; }
.cm-s-geikha span.cm-keyword { color: #ffffff; }
.cm-s-geikha span.cm-string { color: #ff5400; }

.cm-s-geikha span.cm-variable { color: #e21212; }
.cm-s-geikha span.cm-variable-2 { color: #e21269; }
.cm-s-geikha span.cm-def { color: #bbff00; font-style: italic; }
.cm-s-geikha span.cm-bracket { color: #8aa1ab; }
.cm-s-geikha span.cm-tag { color: #b4392e; }
.cm-s-geikha span.cm-link { color: #daff56; }
.cm-s-geikha span.cm-error { background: #131313; color: #f5f5f5; }

.cm-s-geikha .CodeMirror-activeline-background { background: #442a2a; }
.cm-s-geikha .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }